<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Title -->
        <title>ZeedStudio</title>

        <!-- Favicon -->
        <link rel="icon" href="./img/logo/favicon.ico" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Rajdhani"
        />
        <!-- Stylesheet -->
        <link rel="stylesheet" href="style.css" />
    </head>

    <body>
        <!-- Preloader -->
        <div id="preloader">
            <div class="loader"></div>
        </div>
        <!-- /Preloader -->

        <!-- Top Search Form Area -->
        <div class="top-search-area">
            <div
                class="modal fade"
                id="searchModal"
                tabindex="-1"
                role="dialog"
                aria-hidden="true"
            >
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <!-- Close -->
                            <button
                                type="button"
                                class="btn close-btn"
                                data-dismiss="modal"
                            >
                                <i class="ti-close"></i>
                            </button>
                            <!-- Form -->
                            <form action="index.html" method="post">
                                <input
                                    type="search"
                                    name="top-search-bar"
                                    class="form-control"
                                    placeholder="Search and hit enter..."
                                />
                                <button type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header Area Start -->
        <header class="header-area">
            <!-- Main Header Start -->
            <div class="main-header-area">
                <div class="classy-nav-container breakpoint-off">
                    <div class="container">
                        <!-- Classy Menu -->
                        <nav
                            class="classy-navbar justify-content-between"
                            id="alimeNav"
                        >
                            <!-- Logo -->
                            <a class="nav-brand" href="/"
                                ><img
                                    src="./img/logo/logo4.png"
                                    style="width: 200px"
                                    alt=""
                            /></a>

                            <!-- Navbar Toggler -->
                            <div class="classy-navbar-toggler">
                                <span class="navbarToggler"
                                    ><span></span><span></span><span></span
                                ></span>
                            </div>

                            <!-- Menu -->
                            <div class="classy-menu">
                                <!-- Menu Close Button -->
                                <div class="classycloseIcon">
                                    <div class="cross-wrap">
                                        <span class="top"></span
                                        ><span class="bottom"></span>
                                    </div>
                                </div>
                                <!-- Nav Start -->
                                <div class="classynav">
                                    <ul id="nav">
                                        <li>
                                            <a href="/">Home</a>
                                        </li>

                                        <li>
                                            <a href="/about">About</a>
                                        </li>
                                        <li class="active">
                                            <a href="/our-crew">Our Crew</a>
                                        </li>
                                        <li>
                                            <a href="/gallery">Gallery</a>
                                        </li>
                                        <li><a href="/cinema">Films</a></li>
                                        <li>
                                            <a href="/contact">Contact</a>
                                        </li>
                                    </ul>

                                    <!-- Search Icon -->
                                    <div
                                        class="search-icon"
                                        data-toggle="modal"
                                        data-target="#searchModal"
                                    >
                                        <i class="ti-search"></i>
                                    </div>
                                </div>
                                <!-- Nav End -->
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header Area End -->

        <!-- Our Team Area Start -->
        <section class="our-team-area section-padding-80-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div
                            class="section-heading text-center wow fadeInUp"
                            data-wow-delay="100ms"
                        >
                            <h2
                                style="
                                    font-family: 'Courier New', Courier,
                                        monospace;
                                "
                            >
                                Meet Our Team
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <% for(m of teamMembers) { %>
                    <!-- Team Member Area -->
                    <div class="col-md-6 col-xl-3">
                        <div
                            class="team-content-area text-center mb-30 wow fadeInUp"
                            data-wow-delay="100ms"
                        >
                            <div class="member-thumb">
                                <img src="<%= m.imgUrl %>" alt="" />
                            </div>
                            <h5><%= m.name %></h5>
                            <span> <%= m.title %> </span>
                            <div class="member-social-info">
                                <p><%= m.contact %></p>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </section>
        <!-- Our Team Area End -->

        <!-- Why Choose Us Area Start -->
        <section
            class="why-choose-us-area bg-gray section-padding-80-0 clearfix"
        >
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div
                            class="section-heading text-center wow fadeInUp"
                            data-wow-delay="100ms"
                        >
                            <h2>Why Choose Us</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Single Why Choose Area -->
                    <div class="col-md-6 col-lg-4">
                        <div
                            class="why-choose-us-content text-center mb-80 wow fadeInUp"
                            data-wow-delay="100ms"
                        >
                            <div class="chosse-us-icon">
                                <i class="fa fa-film" aria-hidden="true"></i>
                            </div>
                            <h4>High Quality Images</h4>
                            <p>
                                We capture you in highest quality images and
                                bring out your beauty to distinguish from the
                                crowd.
                            </p>
                        </div>
                    </div>

                    <!-- Single Why Choose Area -->
                    <div class="col-md-6 col-lg-4">
                        <div
                            class="why-choose-us-content text-center mb-80 wow fadeInUp"
                            data-wow-delay="300ms"
                        >
                            <div class="chosse-us-icon">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </div>
                            <h4>Abundant Experience</h4>
                            <p>
                                We are capturing since we were children. Through
                                hard work and little bit of luck we met and
                                captured the celebrities!
                            </p>
                        </div>
                    </div>

                    <!-- Single Why Choose Area -->
                    <div class="col-md-6 col-lg-4">
                        <div
                            class="why-choose-us-content text-center mb-80 wow fadeInUp"
                            data-wow-delay="500ms"
                        >
                            <div class="chosse-us-icon">
                                <i class="fa fa-camera" aria-hidden="true"></i>
                            </div>
                            <h4>Modern Equipments</h4>
                            <p>
                                We've modernize ourselves with all sort of
                                equipments to make your experince and quality of
                                our work one of the best.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Why Choose  us Area End -->

        <!-- Footer Area Start -->
        <footer class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div
                            class="footer-content d-flex align-items-center justify-content-between"
                        >
                            <!-- Copywrite Text -->
                            <div class="copywrite-text">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>
                                        document.write(
                                            new Date().getFullYear()
                                        );
                                    </script>
                                    All rights reserved | This template is made
                                    with
                                    <i
                                        class="fa fa-heart-o"
                                        aria-hidden="true"
                                    ></i>
                                    by
                                    <a
                                        href="https://colorlib.com"
                                        target="_blank"
                                        >Colorlib</a
                                    >
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                            <!-- Footer Logo -->
                            <div class="footer-logo">
                                <a href="#"
                                    ><img
                                        src="./img/logo/logo2.png"
                                        style="width: 150px"
                                        alt=""
                                /></a>
                            </div>
                            <!-- Social Info -->
                            <div class="social-info">
                                <a href="#"
                                    ><i
                                        class="ti-facebook"
                                        aria-hidden="true"
                                    ></i
                                ></a>
                                <a href="#"
                                    ><i
                                        class="ti-twitter-alt"
                                        aria-hidden="true"
                                    ></i
                                ></a>
                                <a href="#"
                                    ><i
                                        class="ti-linkedin"
                                        aria-hidden="true"
                                    ></i
                                ></a>
                                <a href="#"
                                    ><i
                                        class="ti-pinterest"
                                        aria-hidden="true"
                                    ></i
                                ></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End -->

        <!-- **** All JS Files ***** -->
        <!-- jQuery 2.2.4 -->
        <script src="js/jquery.min.js"></script>
        <!-- Popper -->
        <script src="js/popper.min.js"></script>
        <!-- Bootstrap -->
        <script src="js/bootstrap.min.js"></script>
        <!-- All Plugins -->
        <script src="js/alime.bundle.js"></script>
        <!-- Active -->
        <script src="js/default-assets/active.js"></script>
    </body>
</html>
