<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Title -->
        <title>Greatest Photos we ever took! | Photos | ZeedStudio</title>

        <!-- Favicon -->
        <link rel="icon" href="./img/logo/favicon.ico" />

        <!-- Stylesheet -->
        <link rel="stylesheet" href="style.css" />
    </head>

    <body>
        <!-- Preloader -->
        <div id="preloader">
            <div class="loader"></div>
        </div>
        <!-- /Preloader -->

        <!-- Top Search Form Area -->
        <div class="top-search-area">
            <div
                class="modal fade"
                id="searchModal"
                tabindex="-1"
                role="dialog"
                aria-hidden="true"
            >
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <!-- Close -->
                            <button
                                type="button"
                                class="btn close-btn"
                                data-dismiss="modal"
                            >
                                <i class="ti-close"></i>
                            </button>
                            <!-- Form -->
                            <form action="index.html" method="post">
                                <input
                                    type="search"
                                    name="top-search-bar"
                                    class="form-control"
                                    placeholder="Search and hit enter..."
                                />
                                <button type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header Area Start -->
        <header class="header-area">
            <!-- Main Header Start -->
            <div class="main-header-area">
                <div class="classy-nav-container breakpoint-off">
                    <div class="container">
                        <!-- Classy Menu -->
                        <nav
                            class="classy-navbar justify-content-between"
                            id="alimeNav"
                        >
                            <!-- Logo -->
                            <a class="nav-brand" href="/"
                                ><img
                                    src="./img/logo/logo4.png"
                                    style="width: 200px"
                                    alt=""
                            /></a>

                            <!-- Navbar Toggler -->
                            <div class="classy-navbar-toggler">
                                <span class="navbarToggler"
                                    ><span></span><span></span><span></span
                                ></span>
                            </div>

                            <!-- Menu -->
                            <div class="classy-menu">
                                <!-- Menu Close Button -->
                                <div class="classycloseIcon">
                                    <div class="cross-wrap">
                                        <span class="top"></span
                                        ><span class="bottom"></span>
                                    </div>
                                </div>
                                <!-- Nav Start -->
                                <div class="classynav">
                                    <ul id="nav">
                                        <li>
                                            <a href="/">Home</a>
                                        </li>

                                        <li>
                                            <a href="/about">About</a>
                                        </li>
                                        <!-- <li>
                                            <a href="/our-crew">Our Crew</a>
                                        </li> -->
                                        <li class="active">
                                            <a href="/gallery">Gallery</a>
                                        </li>
                                        <li><a href="/cinema">Films</a></li>
                                        <li><a href="/faq">FAQ</a></li>
                                        <li>
                                            <a href="/contact">Contact</a>
                                        </li>
                                    </ul>

                                    <!-- Search Icon -->
                                    <!-- <div
                                        class="search-icon"
                                        data-toggle="modal"
                                        data-target="#searchModal"
                                    >
                                        <i class="ti-search"></i>
                                    </div> -->
                                </div>
                                <!-- Nav End -->
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header Area End -->

        <!-- Breadcrumb Area Start -->
        <section
            class="breadcrumb-area bg-img bg-overlay jarallax"
            style="background-image: url('https://picsum.photos/1001')"
        >
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="breadcrumb-content text-center">
                            <h2 class="page-title">Gallery</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item">
                                        <a href="/"
                                            ><i class="icon_house_alt"></i>
                                            Home</a
                                        >
                                    </li>
                                    <li
                                        class="breadcrumb-item active"
                                        aria-current="page"
                                    >
                                        Gallery
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb Area End -->

        <!-- Gallery Area Start -->
        <div class="alime-portfolio-area section-padding-80 clearfix">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- Projects Menu -->
                        <div
                            class="alime-projects-menu wow fadeInUp"
                            data-wow-delay="100ms"
                        >
                            <div class="portfolio-menu text-center">
                                <button class="btn active" data-filter=".all">
                                    All
                                </button>
                                <button class="btn" data-filter=".wedding">
                                    Wedding
                                </button>
                                <button class="btn" data-filter=".birthday">
                                    One Day Event
                                </button>
                                <button class="btn" data-filter=".models">
                                    Celebrity
                                </button>
                                <button class="btn" data-filter=".others">
                                    Others
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row alime-portfolio">
                    <% for(img of allImages) { %>
                    <div
                        class="col-12 col-sm-6 col-lg-3 single_gallery_item <%= img.filter %> all mb-30 wow fadeInUp"
                        data-wow-delay="100ms"
                    >
                        <div class="single-portfolio-content">
                            <img src="<%= img.url %>" alt="" />
                            <div class="hover-content">
                                <a href="<%= img.url %>" class="portfolio-img"
                                    >+</a
                                >
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>

                <div class="row">
                    <div
                        class="col-12 text-center wow fadeInUp"
                        data-wow-delay="800ms"
                    >
                        <a href="#" class="btn alime-btn btn-2 mt-15"
                            >View More</a
                        >
                    </div>
                </div>
            </div>
        </div>
        <!-- Gallery Area End -->

        <!-- Footer Area Start -->
        <footer class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div
                            class="footer-content d-flex align-items-center justify-content-between"
                        >
                            <!-- Copywrite Text -->
                            <div class="copywrite-text">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>
                                        document.write(
                                            new Date().getFullYear()
                                        );
                                    </script>
                                    All rights reserved | by ZeedStudio | This
                                    template is made with
                                    <i
                                        class="fa fa-heart-o"
                                        aria-hidden="true"
                                    ></i>
                                    by
                                    <a
                                        href="https://colorlib.com"
                                        target="_blank"
                                        >Colorlib</a
                                    >
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                            <!-- Footer Logo -->
                            <div class="footer-logo">
                                <a href="#"
                                    ><img
                                        src="./img/logo/logo2.png"
                                        style="width: 150px"
                                        alt=""
                                /></a>
                            </div>
                            <!-- Social Info -->
                            <div class="social-info">
                                <a
                                    target="_blank"
                                    href="https://www.facebook.com/people/Zeed-studio/100075977942375/"
                                    ><i
                                        class="ti-facebook"
                                        aria-hidden="true"
                                    ></i
                                ></a>
                                <a href="#"
                                    ><i
                                        class="ti-twitter-alt"
                                        aria-hidden="true"
                                    ></i
                                ></a>
                                <a
                                    href="https://www.instagram.com/zeedstudio__official/"
                                    target="_blank"
                                    ><i
                                        class="ti-instagram"
                                        aria-hidden="true"
                                    ></i
                                ></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End -->

        <!-- **** All JS Files ***** -->
        <!-- jQuery 2.2.4 -->
        <script src="js/jquery.min.js"></script>
        <!-- Popper -->
        <script src="js/popper.min.js"></script>
        <!-- Bootstrap -->
        <script src="js/bootstrap.min.js"></script>
        <!-- All Plugins -->
        <script src="js/alime.bundle.js"></script>
        <!-- Active -->
        <script src="js/default-assets/active.js"></script>
    </body>
</html>
